@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");

.content-wrapper-carousel {
	height: 100%;
	max-width: 100rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

.wrapper-for-arrows {
	position: relative;
	border-radius: 2rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
	display: grid;
	place-items: center;
}

.review-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: calc(1rem + 1vmin);
	width: 100%;
  background-color: white;
}

#imgDiv {
	border-radius: 50%;
	width: calc(1rem + 4vmin);
	height: calc(1rem + 4vmin);
	background-size: cover;
}

#personName {
	font-size: calc(0.5rem + 0.5vmin);
	letter-spacing: calc(0.1rem + 0.1vmin);
	font-weight: bold;
}

#profession {
	font-size: calc(0.4rem + 0.3vmin);
	color: rgb(79, 143, 226);
}

#description {
	font-size: calc(0.6rem + 0.3vmin);
	width: 85%;
	text-align: center;
	margin-bottom: calc(1.4rem + 1vmin);
	color: rgb(92, 92, 92);
	line-height: 2rem;
}

.arrow-wrap {
	position: absolute;
	top: 50%;
}

.arrow {
	width: calc(0.4rem + 0.6vmin);
	height: calc(0.4rem + 0.6vmin);
	border: solid rgb(79, 143, 226);
	border-width: 0 calc(0.1rem + 0.2vmin) calc(0.1rem + 0.2vmin) 0;
	cursor: pointer;
	transition: transform 0.3s;
}

.arrow:hover {
	transition: 0.3s;
	transform: scale(1.15);
}

.left-arrow-wrap {
	left: 5%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}

.move-head {
	animation: moveHead 1.55s infinite;
	animation-delay: -0.8s;
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
}
