---
layout: home
---
<section class="hero">
  <div class="hero-inner container">
    <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" class="dot">
    <h3>Hey, I'm <strong itemprop="name">{{ site.author.name }}</strong></h3>
    <h4>
      PRINCIPAL ENGINEER ▪ ENGINEERING LEADER ▪ SCALABILITY, RELIABILITY, EFFICIENCY EXPERT  
      CLOUD NATIVE | AWS | PLATFORM ENGINEERING | INFRASTRUCTURE | SRE | DEVOPS
    </h4>
    <h5 class="index">
      If you’re looking for a professional who can drive your projects to success with expertise, creativity, and efficiency - lets talk.
    </h5>
    <ol class="index">
        <li>Accomplished engineering leader with over 16 years of experience designing building and operating mission-critical software solutions on the cloud.</li>
        <li>Experienced in reducing friction and delays in the development process with DevOps and Platform Engineering practices. </li>
        <li>Proven track record of delivering cost savings and creating processes to reduce/slow down cost increases</li>
        <li>Experienced and passionate about building cloud first, scalable and reliable distributed systems.</li>
        <li>Bussiness impact / value oriented - understands good enough software. Focused on providing business value using technology.</li>
    </ol>
    <!-- <a href="{{ '/about' | prepend: site.baseurl }}" class="btn btn-ghost">about</a> -->
    <a href="{{ '/blog' | prepend: site.baseurl }}" class="btn btn-ghost">blog</a>
    <!-- <a href="{{ '/speaking' | prepend: site.baseurl }}" class="btn btn-ghost">speaking</a> -->
    <a href="{{ '/hire-me' | prepend: site.baseurl }}" class="btn btn-ghost">hire me</a>
    <a href="{{ '/cv.pdf' | prepend: site.baseurl }}" class="btn btn-ghost">cv</a>
    {% include social.html %}
    <!-- {% include carousel.html %} -->

  </div>

</section>
