	<div class="content-wrapper-carousel">
		<div class="wrapper-for-arrows">
			<div id="reviewWrap" class="review-wrap">
				<div id="imgDiv" class="">
				</div>
				<div id="personName"></div>
				<div id="profession"></div>
				<div id="description">
				</div>
			</div>
			<div class="left-arrow-wrap arrow-wrap">
				<div class="arrow" id="leftArrow"></div>
			</div>
			<div class="right-arrow-wrap arrow-wrap">
				<div class="arrow" id="rightArrow"></div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
	<script src="/addons/carousel.js"></script>
