  <head>

    {% if page.meta_robots %}    
    <meta name="robots" content="{{ page.meta_robots }}">
    {% elsif layout.meta_robots %}
    <meta name="robots" content="{{ layout.meta_robots }}">
    {% else %}
    <meta name="robots" content="all">
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Michal Franc">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
	<title>{% if page.title %}{{ page.title }} | Michal Franc{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.summary %}{{ page.summary }} {% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700|Raleway" rel="stylesheet">
    <link rel="author" href="https://plus.google.com/104238159697387202725?rel=author">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/sm.css" | prepend: site.baseurl }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ "/css/carousel.css" | prepend: site.baseurl }}" />
    <link rel="alternate" type="application/rss+xml" title="Michal Franc | Feed" href="https://feeds.feedburner.com/PassionateProgram">

    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | Michal Franc{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.summary %}{{ page.summary }} {% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:site_name" content="Michal Franc Blog">
    <meta property="og:type" content="website">
	<meta property="og:image" content="https://michal-franc.github.io/images/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">

	<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | Michal Franc{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:site" content="@francmichal">
    <meta name="twitter:creator" content="@francmichal">
    <meta name="twitter:description" content="{% if page.summary %}{{ page.summary }} {% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:image" content="https://michal-franc.github.io/images/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">

    {% include clicky.html %}
  </head>

