<div class="post-metadata">
  <div class="metadata-title">
    <h3>Article</h3>
    <p>{{ page.title }}</p>
  </div>

  <div class="metadata-item">
    <h3>Published</h3>
    <p>{{ page.date | date: "%B %-d, %Y" }}</p>
  </div>

  <div class="metadata-item">
    <h3>Author</h3>
    <p>{% if page.author %}{{ page.author }}{% else %}Michal Franc{% endif %}</p>
  </div>

  <div class="metadata-separator"></div>

  <div class="metadata-item">
    <h3>Reading Time</h3>
    <p>
      {% assign words = content | number_of_words %}
      {% assign reading_time = words | divided_by: 200 %}
      {% if reading_time == 0 %}1{% else %}{{ reading_time }}{% endif %} min read
    </p>
  </div>

  <div class="metadata-item">
    <h3>Tags</h3>
    <p>
      {% if page.tags and page.tags.size > 0 %}
        {% for tag in page.tags %}
        <a class="tag-badge" href="/blog/tags/#{{tag}}">{{tag}}</a>{% unless forloop.last %} {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  </div>

  <div class="metadata-item">
    <h3>Social</h3>
    {% include social.html %}
  </div>
</div>
