/*=====================================
=            Layout styles            =
=====================================*/
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700");

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  border-top: 5px solid $primary-color;
  background: #eff3f6;
}

.tag-badge {
    color: #fff !important;
    background: #444444;
    padding: 1px 3px;
    font-size: 10px;
    line-height: 1.1;
    font-weight: 700;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    top: -1px;
    left: 1px;

    &:hover,
    &:focus {
      background: red;
	  cursor: pointer;
    }
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.container {
  @include outer-container;
  max-width: 950px;
  min-width: 300px;
  padding: {
    left: $small-spacing;
    right: $small-spacing;
  };

  // Override for post layout container
  &:has(.post-layout-container) {
    max-width: 100%;
    padding: 0;
  }
}

.card {
  background-color: $white-color;
  box-shadow: 2px 2px 2px 2px rgba($black-color, .1);
  margin: 0 0 0.75em;
  padding: $base-spacing $small-spacing;

  @include media($mobile-up) {
    padding: $base-spacing;
  }

  p {
    white-space: pre-wrap;
  }
}

.site-header {
  @extend %clearfix;
  background-color: $white-color;
  padding: $base-spacing 0;
  margin-bottom: $base-spacing;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);

  h1 {
    margin: 0;
    padding: 5px 0;
    float: left;
    font-weight: $font-weight-normal;
    font-size: rem(20);

    span {
      color: $primary-color;
    }
  }

  h1, a {
    text-transform: lowercase;
  }

  .navbar {
    float: right;
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray-color;
    }
  }

  @include media($mobile) {
    .container {
      padding-left: $base-spacing;
      padding-right: $base-spacing;
    }
  }
}

.sliding-panel-button {
  float: right;
  @extend .btn;
  padding: 5px;

  span {
    width: 30px;
    display: block;
    height: 3px;
    border-radius: 2px;
    background: $white-color;
    margin: 3px 0;
  }

  @include media($mobile-up) {
    display: none;
  }
}

@include media($mobile) {
  $sliding-panel-width: 220px;

  .sliding-panel-content {
    border-top: 5px solid $primary-color;
    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(-100%));
    @include transition(all 0.25s linear);
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;

    &.is-visible {
      @include transform(translateX(0));
    }
  }

  .sliding-panel-fade-screen {
    @include position(fixed, 0 0 0 0);
    @include transition;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    &.is-visible {
      opacity: 0.4;
      visibility: visible;
    }
  }

  .sliding-panel-close {
    cursor: pointer;
  }
}

.navbar {
  li, a {
    display: inline-block;
  }

  a {
    padding: 5px 15px;

    @include media($tablet) {
      padding: 5px 10px;
    }
  }

  @include media($mobile) {
    li, a {
      display: block;
      text-align: center;
    }

    li {
      border-bottom: 1px solid lighten($light-gray-color, 8%);
    }

    a {
      padding: 15px 0;
    }
  }
}

.btn {
  @extend %button;

  &.btn-ghost {
    background-color: white;
    border: 2px solid $primary-color;
    color: $primary-color;
    margin-bottom: 2px;
  }

  &.btn-ghost:hover {
    color: $secondary-color;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
}

// home hero presentation
body.home {
  width: 100%;
  display: table;
}

.hero {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.hero-inner {
  text-align: center;
  display: inline-block;
  padding: $base-spacing;

  .dot {
    padding: 5px;
    border: 1px solid $light-gray-color;
  }

  h1 {
    margin-top: .7em;
    font-size: rem(40);
  }

  h3 {
    font-size: rem(20);
    margin: .8em 0 1.2em;

    @include media($tablet-up) {
      font-size: rem(24);
    }
  }

  h3, em {
    font-weight: $font-weight-light;
  }

  em {
    color: $primary-color;
    font-weight: 500;
  }

  strong {
    font-weight: $font-weight-bold;
  }
}

strong {
	font-weight: $font-weight-bold;
}

//
// Category Pages
//

.category-title {
	font-size: 30px;
}


//
// Articles
//

.post {
  padding: $base-spacing 0;
}

.post-header {
  margin-bottom: $base-spacing;
}

.post-title {
  font-size: rem(26);
  margin-bottom: 0;
  line-height: 1.5em;
}

.post-image {
  width: 100%;
  display: block;
  margin: 0;
  vertical-align: top;
}

.post-content {
	a {
		font-weight: 500;
	}

  > p:first-of-type:first-letter {
    float:left;
    font-family:helvetica, arial, geneva, sans-serif;
    font-size:4.25rem;
    line-height:0.7em;
    margin:5px 10px 0 0;
  }

  // Hide TOC if manually included in content (we show it in sidebar instead)
  .toc {
    display: none;
  }

  // Series navigation styling
  .seriesNote {
    background-color: #f8f6f2;
    border-left: 4px solid $primary-color;
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: 0 3px 3px 0;
    font-family: $heading-font-family;
    font-size: rem(14);

    strong {
      color: $primary-color;
    }

    ul {
      margin-top: 1rem;
      margin-bottom: 0;
      padding-left: 1.5rem;

      li {
        margin-bottom: 0.5rem;
        line-height: 1.5;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    a {
      color: $base-font-color;
      text-decoration: none;
      border-bottom: 1px dotted $medium-gray-color;

      &:hover {
        color: $primary-color;
        border-bottom-color: $primary-color;
      }
    }
  }

  // Blockquote styling
  blockquote {
    background-color: #f8f6f2;
    border-left: 4px solid $medium-gray-color;
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    color: #555;

    p {
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    cite, footer {
      font-style: normal;
      font-size: rem(13);
      color: $medium-gray-color;
      margin-top: 0.5rem;
      display: block;
    }
  }
}

.post-list {
  .post {
    @extend .card;

    a {
      color: $base-font-color;

      &:hover,
      &:active,
      &:focus {
        color: $primary-color;
      }
    }
  }
}


article[role="pagination"] {
	h5 {
		color: #666;
		margin: 0;
	}

	&:hover {
	  background-color: #f1f1f1;
	}
}

.text-muted {
	color: #818a91;
}

.social {
  @extend %clearfix;
  padding: $base-spacing 0;

  li {
    display: inline-block;
    padding: 0 ($base-spacing/2.5);
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:active,
    &:focus {
      color: $primary-color;
    }
  }

  i {
    font-size: 1.2em;
  }
}


.pagination {
  @extend %clearfix;
  text-align: center;
  margin: 2em 0;

  li {
    padding: 0 .4em;
  }

  li, a, span {
    display: inline-block;
  }

  a, span {
    line-height: 1.2em;
    font-size: rem(12);
  }

  .btn {
    color: $base-font-color;
    border-color: rgba($light-gray-color, .8);
  }

  span {
    color: #aaa;
    font-style: italic;
  }
}


/* Site footer */
.site-footer {
  background-color: $white-color;
  border-top: 1px solid rgba($light-gray-color, .5);
  padding: $base-spacing;
  text-align: center;

  p {
    margin: 0;
  }
}

.github-corner {
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

h5.index {
  padding-top:30px;
  text-align: left;
}

ol.index {
  padding-bottom: 30px;
  list-style: disc;
  text-align: left;
}

@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0);
  }

  20%,60% {
    transform: rotate(-25deg);
  }

  40%,80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.main-line-2 {
  color: #337ab7;
  margin-top: -10px;
  font-size: 1.27rem;
}

//
// 3-Column Blog Post Layout
//

.post-layout-container {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 0;
  align-items: start;
  max-width: 1400px;
  margin: 0 auto $base-spacing;
  padding: 0;
  background-color: $white-color;
  box-shadow: 0 1px 3px rgba($black-color, .1);

  @include media($tablet) {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0 $small-spacing $base-spacing;
  }

  @include media($mobile) {
    gap: 0;
    margin: 0 $small-spacing $base-spacing;
  }
}


.post-main-content {
  min-width: 0;
  border-right: 1px solid #e8e8e8;
  box-shadow: 2px 0 3px rgba($black-color, .05);
  padding: 0;
  overflow: hidden;

  .card {
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .post-header {
    padding: $base-spacing $base-spacing 0;

    @include media($mobile) {
      padding: $small-spacing $small-spacing 0;
    }
  }

  .post-content {
    padding: $base-spacing;

    @include media($mobile) {
      padding: $small-spacing;
    }
  }

  .post-comments {
    padding: 0 $base-spacing $base-spacing;

    @include media($mobile) {
      padding: 0 $small-spacing $small-spacing;
    }
  }

  @include media($tablet) {
    border-right: none;
  }
}

// Mobile metadata - shown only on mobile
.post-metadata-mobile {
  display: none;

  @include media($tablet) {
    display: block;
    padding: $small-spacing;
    border-bottom: 1px solid #e8e8e8;
    background-color: #f9f9f9;
  }

  .post-metadata {
    padding: 0;
    margin: 0;
    border: none;

    // Show the "Article" title section on mobile - styled like other metadata items
    .metadata-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #e8e8e8;

      h3 {
        font-size: rem(11);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $medium-gray-color;
        letter-spacing: 0.5px;
        margin: 0;
      }

      p {
        font-size: rem(16);
        font-weight: $font-weight-bold;
        margin: 0;
        color: $dark-gray-color;
        line-height: 1.4;
      }
    }

    // Adjust grid for mobile - simpler layout
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .metadata-separator {
      display: none;
    }

    .metadata-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;

      h3 {
        font-size: rem(11);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $medium-gray-color;
        letter-spacing: 0.5px;
        margin: 0;
      }

      p {
        font-size: rem(14);
        color: $dark-gray-color;
        margin: 0;
        padding: 0;
        line-height: 1.4;
        width: 100%;

        a {
          display: inline-block;
          margin-top: 0.25rem;

          &:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }

      .social {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
          padding: 0 0.5rem 0 0;
          display: flex;
          align-items: center;
        }

        a {
          display: flex;
          align-items: center;
        }

        i {
          font-size: rem(24);
        }
      }
    }
  }
}

// Desktop metadata - hidden on mobile
.post-metadata-desktop {
  display: block;

  @include media($tablet) {
    display: none;
  }
}

.post-sidebar-right {
  position: sticky;
  top: 2rem;
  align-self: start;
  padding: 1.5rem;

  @include media($tablet) {
    display: none;
  }

  // Metadata section in right sidebar
  .post-metadata {
    font-family: $heading-font-family;
    font-size: rem(14);
    line-height: 1.6;
    padding: 0 0 1.5rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #e8e8e8;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 1.5rem;
    column-gap: 1.5rem;

    // Article title spanning full width
    .metadata-title {
      grid-column: 1 / -1;
      grid-row: 1;
      text-align: center;
      border-bottom: 1px solid #e8e8e8;

      h3 {
        font-size: rem(11);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $medium-gray-color;
        letter-spacing: 0.5px;
        margin: 0 0 0.5rem 0;
      }

      p {
        font-size: rem(16);
        font-weight: $font-weight-bold;
        margin: 0;
        color: $dark-gray-color;
        padding-top: 0px;
      }
    }

    // Vertical separator column
    .metadata-separator {
      grid-column: 2;
      grid-row: 2 / -1;
      width: 1px;
      background-color: $light-gray-color;
    }

    .metadata-item {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      &:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
      }

      &:nth-child(3) {
        grid-column: 3;
        grid-row: 2;
      }

      &:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
      }

      &:nth-child(6) {
        grid-column: 3;
        grid-row: 3;
      }

      &:nth-child(7) {
        grid-column: 1;
        grid-row: 4;
      }

      h3 {
        font-size: rem(11);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $medium-gray-color;
        letter-spacing: 0.5px;
        margin: 0;
      }

      p {
        margin: 0;
        color: $dark-gray-color;
        font-size: rem(14);
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }

      .social {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
          padding: 0 0.5rem 0 0;
          display: flex;
          align-items: center;
        }

        a {
          display: flex;
          align-items: center;
        }

        i {
          display: block;
        }
      }
    }

    @include media($tablet) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .metadata-title {
      }

      .metadata-separator {
        display: none;
      }
    }
  }
}

// Right sidebar TOC styles
.post-toc {
  font-family: $heading-font-family;
  padding: 0;

  @include media($tablet) {
    display: none;
  }

  h2 {
    font-size: rem(11);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $medium-gray-color;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol {
    margin: 0;
    padding: 0 0 0 1.2rem;
    list-style-type: decimal;
    list-style-position: outside;

    li {
      margin-bottom: 0.5rem;
      line-height: 1.5;
      padding-left: 0.5rem;

      &::marker {
        color: $medium-gray-color;
        font-size: rem(13);
        font-weight: $font-weight-normal;
      }

      a {
        color: $base-font-color;
        font-size: rem(14);
        font-weight: $font-weight-normal;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }
      }

      // Nested list (h3 headings)
      ol {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 1.2rem;
        list-style-type: lower-alpha;

        li {
          margin-bottom: 0.3rem;

          &::marker {
            color: $medium-gray-color;
            font-size: rem(12);
          }

          a {
            font-size: rem(13);
            color: $medium-gray-color;
          }
        }
      }
    }
  }

  // TOC Actions (Comments link and Theme toggle)
  .toc-actions {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .toc-comments-link {
    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $base-font-color;
      font-size: rem(14);
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 3px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f5f5f5;
        color: $primary-color;
      }

      i {
        font-size: rem(16);
      }
    }
  }

  .toc-theme-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .theme-toggle-label {
      font-size: rem(14);
      color: $base-font-color;
    }
  }
}
