$dt-gray-dark: #222;  // Background
$dt-gray: #44475a;       // Current Line & Selection
$dt-gray-light: #f8f8f2; // Foreground
$dt-blue: #6272a4;       // Comment
$dt-cyan: #8be9fd;
$dt-green: #50fa7b;
$dt-orange: #ffb86c;
$dt-pink: #ff79c6;
$dt-purple: #bd93f9;
$dt-red: #ff5555;
$dt-yellow: #f1fa8c;


.highlight {
  clear: both;
  @extend %clearfix;
  padding: 0;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  margin-left: calc(-1 * $base-spacing);
  margin-right: calc(-1 * $base-spacing);
  width: calc(100% + 2 * $base-spacing);

  &, .hll, pre, code {
    background-color: $dt-gray-dark !important;
    border: none;
  }

  pre {
    margin: 0;
    padding: 1.3em $base-spacing;
    white-space: pre;
    line-height: 0.1em;
    overflow-x: auto;
    margin-bottom: 0;
    word-break: inherit;
    word-wrap: inherit;

    &, code {
      color: $dt-gray-light;
    }

    code {
      white-space: pre;
      padding: 0 !important;

      * {
        white-space: nowrap; // this sets all children inside to nowrap
      }
    }
  }

  .hll,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: $dt-yellow;
  }

  .go {
    color: $dt-gray;
  }

  .err,
  .g,
  .l,
  .n,
  .x,
  .p,
  .ge,
  .gr,
  .gh,
  .gi,
  .gp,
  .gs,
  .gu,
  .gt,
  .ld,
  .no,
  .nd,
  .ni,
  .ne,
  .nn,
  .nx,
  .py,
  .w,
  .bp {
    color: $dt-gray-light;
  }

  .gh,
  .gi,
  .gu {
    font-weight: bold;
  }

  .ge {
    text-decoration: underline;
  }

  .bp {
    font-style: italic;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs {
    color: $dt-blue;
  }

  .kd,
  .kt,
  .nb,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    color: $dt-cyan;
  }

  .kd,
  .nb,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    font-style: italic;
  }

  .na,
  .nc,
  .nf,
  .fm {
    color: $dt-green;
  }

  .k,
  .o,
  .cp,
  .kc,
  .kn,
  .kp,
  .kr,
  .nt,
  .ow {
    color: $dt-pink;
  }

  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: $dt-purple;
  }

  .gd {
    color: $dt-red;
  }

  @include media($mobile) {
    margin-left: calc(-1 * $small-spacing);
    margin-right: calc(-1 * $small-spacing);
    width: calc(100% + 2 * $small-spacing);

    pre {
      padding-left: $small-spacing;
      padding-right: $small-spacing;
    }
  }
}
