// Typography
$base-font-family: Georgia, "Times New Roman", serif;
$heading-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

// Font Sizes
$base-font-size: 1.125em;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.3;

// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$primary-color: #337ab7;
$secondary-color: #D30000;
$white-color: #fff;
$black-color: #333;
$blue-color: #477dca;
$dark-gray-color: #232323;
$medium-gray-color: #9a9a9a;
$light-gray-color: #dedede;

// Font Colors
$base-font-color: $black-color;
$action-color: $primary-color;

// Border
$base-border-color: $light-gray-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: lighten($white-color, 5%);
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: .2s;
$base-timing: ease;
