<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">

      <div class="container">
        {{ content }}
      </div>


      {% include footer.html %}

      <script src="/js/theme-toggle.js"></script>
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	  <script type="text/javascript" src="{{ "/js/jquery.slick-modals.js" | prepend: site.baseurl }}"/></script>
    <script src="/js/custom-jquery.js"></script>
    {% if page.layout == "post" or page.layout == "d3post" %}
    <script src="{{ "/js/toc.js" | prepend: site.baseurl }}"></script>
    <script src="/js/admonitions.js"></script>
    {% endif %}

    </main>
  </body>
</html>
