<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}

      <div class="container">
        {{ content }}
      </div>


      {% include footer.html %}

	<script src="//load.sumome.com/" data-sumo-site-id="9f6c78eb654f63c92cb65d8c755d7ad0c856d4154d2cd1e43400ea0c3ac33552" async="async"></script>
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	  <script type="text/javascript" src="{{ "/js/jquery.slick-modals.js" | prepend: site.baseurl }}"/></script>
      <script>
      $(document).ready(function() {
        $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
          $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
          e.preventDefault();
        });

      </script>

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=125980610784627";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

    </main>
  </body>
</html>
