---
layout: default
---

<div class="post-layout-container">

  <!-- Main Content -->
  <article role="article" class="post post-main-content">
    <div class="card">
      {% if page.image %}
        <img class="post-image" src="/images/{{ page.image }}"/>
      {% endif %}
      <div class="post-content">
        {% if page.series %}
          {% include series.html %}
        {% endif %}
        {{ content }}
        <span id="post-end"></span>
      </div>

      <div class="post-comments">
        {% include comments.html %}
      </div>
    </div>
  </article>

  <!-- Right Sidebar: Metadata + TOC -->
  <aside class="post-sidebar-right">
    {% include post-sidebar-left.html %}
    {% include toc.html %}
  </aside>

</div>
