---
layout: default
---

<div class="post-layout-container">

  <!-- Left Sidebar: Metadata and Social -->
  <aside class="post-sidebar-left">
    {% include post-sidebar-left.html %}
  </aside>

  <!-- Main Content -->
  <article role="article" class="post post-main-content">
    <div class="card">
      {% if page.image %}
        <img class="post-image" src="/images/{{ page.image }}"/>
      {% endif %}

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <div class="post-content">
        {% if page.series %}
          {% include series.html %}
        {% endif %}
        {{ content }}
        <span id="post-end"></span>
      </div>

      <div class="post-comments">
        {% include comments.html %}
      </div>
    </div>
  </article>

  <!-- Right Sidebar: Table of Contents -->
  <aside class="post-sidebar-right">
    {% include toc.html %}
  </aside>

</div>
