.footnotes {
  background-color: #f8f6f2;
  border-top: 2px solid #e8e8e8;
  margin-top: 3rem;
  margin-left: calc(-1 * $base-spacing);
  margin-right: calc(-1 * $base-spacing);
  padding: 1.5rem $base-spacing;

  &:before {
    content: "Footnotes and Links:";
    display: block;
    font-size: rem(11);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $medium-gray-color;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
  }

  font-family: $heading-font-family;
  font-size: rem(14);
  line-height: 1.6;

  ol {
    margin: 0;
    padding-left: 1.5rem;
    list-style-type: decimal;

    li {
      margin: 0.75rem 0;
      padding-left: 0.5rem;

      p {
        margin: 0.25rem 0;
        display: inline;
      }

      a {
        color: $primary-color;
        text-decoration: none;
        border-bottom: 1px solid rgba($primary-color, 0.3);

        &:hover {
          border-bottom-color: $primary-color;
        }
      }

      // Nested lists
      ol {
        margin-top: 0.5rem;
        font-size: rem(13);
        list-style-type: lower-alpha;

        li {
          margin: 0.5rem 0;
        }
      }
    }
  }

  // Style the backlink arrow
  .reversefootnote {
    color: $medium-gray-color;
    font-size: rem(12);
    border: none !important;
    text-decoration: none;
    margin-left: 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

// Inline footnote references - make them superscript
.footnote {
  font-size: 0.8em;
  line-height: 0;
  vertical-align: super;
  color: $primary-color;
  text-decoration: none;
  font-weight: $font-weight-normal;

  &:after {
    content: "]";
  }

  &:before {
    content: "[";
  }

  &:hover {
    color: darken($primary-color, 10%);
  }
}
